 
NET "dout(0)" LOC = "E6" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ; 
NET "dout(1)" LOC = "D6" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ; 
NET "dout(2)" LOC = "C3" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ; 
NET "dout(3)" LOC = "D4” | IOSTANDARD = SSTL2_I ; 
NET "en" LOC = "H13" | IOSTANDARD = LVTTL | PULLDOWN ;
NET "stp" LOC = "V4" | IOSTANDARD = LVTTL | PULLDOWN ;
NET "rst" LOC = "K17" | IOSTANDARD = LVTTL | PULLDOWN ;
NET "lap_btn" LOC = "D18" | IOSTANDARD = LVTTL | PULLDOWN ;
NET "din(0)" LOC = "L13" | IOSTANDARD = LVTTL | PULLUP ;
NET "din(1)" LOC = "L14" | IOSTANDARD = LVTTL | PULLUP ;
NET "din(2)" LOC = "H18" | IOSTANDARD = LVTTL | PULLUP ;
NET "din(3)" LOC = "N17" | IOSTANDARD = LVTTL | PULLUP ;
NET "addr(0)" LOC = "L13" | IOSTANDARD = LVTTL | PULLUP ;
NET "addr(1)" LOC = "L14" | IOSTANDARD = LVTTL | PULLUP ;
NET "addr(2)" LOC = "H18" | IOSTANDARD = LVTTL | PULLUP ;
NET "addr(3)" LOC = "N17" | IOSTANDARD = LVTTL | PULLUP ;
NET "clk" LOC = "C9" | IOSTANDARD = LVCMOS33 ;