NET "clk" LOC = "C9" | IOSTANDARD = LVCMOS33 ;
NET "clk" PERIOD = 20.0ns HIGH 40%;
NET "rst" LOC = "L13" | IOSTANDARD = LVTTL | PULLUP ;
NET "q(0)" LOC = "A8" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "q(1)" LOC = "G9" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ; 
NET "STOP_TO_INIT" LOC = "V4" | IOSTANDARD = LVTTL | PULLDOWN ;
NET "INIT_PAUSE" LOC = "K17" | IOSTANDARD = LVTTL | PULLDOWN ;